{% extends 'layouts/base.html.twig' %}

{% block title %}New Curso{% endblock %}

{% block body %}

    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_message }}</div>
    {% endfor %}

    {% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased">
        <div class="w-full h-full">
            <div class="p-4 bg-white dark:bg-gray-800 shadow-md sm:rounded-lg">
                <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">Crear nuevo curso</h2>

                {{ form_start(form, {'attr': {'class': 'space-y-4 md:space-y-6'}}) }}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                    <!-- Nombre del curso -->
                    <div>
                        {{ form_label(form.nombre, 'Nombre del curso', {
                            'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                        }) }}
                        {{ form_widget(form.nombre, {
                            'attr': {
                                'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-400 focus:border-orange-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white'
                            }
                        }) }}
                        {{ form_errors(form.nombre) }}
                    </div>

                    <!-- Descripción -->
                    <div>
                        {{ form_label(form.prefijo, 'Prefijo', {
                            'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                        }) }}
                        {{ form_widget(form.prefijo, {
                            'attr': {
                                'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-400 focus:border-orange-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white'
                            }
                        }) }}
                        {{ form_errors(form.prefijo) }}
                    </div>

                    <!-- Grupo asignado -->
                   {#<div>
                        {{ form_label(form.grupos, 'Grupo asignado', {
                            'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                        }) }}
                        {{ form_widget(form.grupos, {
                            'attr': {
                                'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-400 focus:border-orange-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white'
                            }
                        }) }}
                        {{ form_errors(form.grupos) }}
                    </div>#}

                </div>

                <div class="mt-6">
                    <button type="submit" class="text-white bg-orange-500 hover:bg-orange-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        Crear Curso
                    </button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </section>


    <a href="{{ path('app_curso_index') }}">back to list</a>
{% endblock %}
