{% extends 'layouts/base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <!-- Formulario de registro de usuario -->
    <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased">
        <div class="w-full h-full">
            <div class=" p-4 bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                <div class="overflow-x-auto">
                    {{ form_start(registrationForm, {'attr': {'class': 'space-y-4 md:space-y-6'}, 'enctype': 'multipart/form-data'}) }}
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                            <!-- First Name -->
                            <div>
                                {{ form_label(registrationForm.firstname, 'Nombre', {
                                    'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                                }) }}
                                <div class="relative">
                                    {{ form_widget(registrationForm.firstname, {
                                        'attr': {
                                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400 focus:border-orange-400 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-400 dark:focus:border-orange-400',
                                            'placeholder': 'Nombre',
                                            'id': 'firstname-input'
                                        }
                                    }) }}
                                </div>
                                {{ form_errors(registrationForm.firstname) }}
                            </div>

                            <!-- Last Name -->
                            <div>
                                {{ form_label(registrationForm.lastname, 'Apellido', {
                                    'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                                }) }}
                                <div class="relative">
                                    {{ form_widget(registrationForm.lastname, {
                                        'attr': {
                                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400 focus:border-orange-400 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-400 dark:focus:border-orange-400',
                                            'placeholder': 'Apellido',
                                            'id': 'lastname-input'
                                        }
                                    }) }}
                                </div>
                                {{ form_errors(registrationForm.lastname) }}
                            </div>
                            <!-- DNI -->
                            <div>
                                {{ form_label(registrationForm.dni, 'DNI', {
                                    'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                                }) }}
                                <div class="relative">
                                    {{ form_widget(registrationForm.dni, {
                                        'attr': {
                                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400 focus:border-orange-400 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-400 dark:focus:border-orange-400',
                                            'placeholder': 'DNI',
                                            'id': 'dni-input',
                                            'inputmode': 'numeric',
                                            'pattern': '\\d*',
                                            'oninput': 'this.value = this.value.replace(/[^0-9]/g, "")'
                                        }
                                    }) }}
                                </div>
                                {{ form_errors(registrationForm.dni) }}
                            </div>
                        </div>
                         <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                            <!-- Email -->
                            <div>
                                {{ form_label(registrationForm.email, 'Email', {
                                    'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                                }) }}
                                <div class="relative">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                                            <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                                            <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                                        </svg>
                                    </div>
                                    {{ form_widget(registrationForm.email, {
                                        'attr': {
                                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400 focus:border-orange-400 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-400 dark:focus:border-orange-400',
                                            'placeholder': 'nombre@ipap.tierradelfuego.gob.ar',
                                            'id': 'email-address-icon'
                                        }
                                    }) }}
                                </div>
                                {{ form_errors(registrationForm.email) }}
                            </div>

                            <!-- Ciudad -->
                            <div>
                                {{ form_label(registrationForm.city, 'Ciudad', {
                                    'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                                }) }}
                                <div class="relative">
                                    {{ form_widget(registrationForm.city, {
                                        'attr': {
                                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400 focus:border-orange-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-400 dark:focus:border-orange-400'
                                        }
                                    }) }}
                                </div>
                                {{ form_errors(registrationForm.city) }}
                            </div>
                            <!-- Imagen de perfil -->
                            <div>
                                {{ form_label(registrationForm.imageProfile, 'Foto de perfil', {
                                    'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                                }) }}
                                <div class="relative">
                                    {{ form_widget(registrationForm.imageProfile, {
                                        'attr': {
                                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400 focus:border-orange-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-400 dark:focus:border-orange-400',
                                        }
                                    }) }}
                                </div>
                                {{ form_errors(registrationForm.imageProfile) }}
                            </div>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-6">
                            <!-- Contraseña -->
                            <div class="relative">
                                {{ form_label(registrationForm.plainPassword, 'Contraseña', {
                                    'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                                }) }}
                                <div class="relative">
                                    {{ form_widget(registrationForm.plainPassword, {
                                        'attr': {
                                            'id': 'password-field',
                                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400 focus:border-orange-400 block w-full p-2.5 pr-10 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-orange-400 dark:focus:border-orange-400',
                                            'placeholder': 'Contraseña'
                                        }
                                    }) }}
                                    <button type="button" data-target="registration_form_plainPassword" class="toggle-password absolute inset-y-0 right-0 flex items-center px-3 text-gray-500 dark:text-gray-300">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 eye-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                        </svg>
                                    </button>
                                </div>
                                {{ form_errors(registrationForm.plainPassword) }}
                            </div>

                            <!-- Confirmar contraseña -->
                            <div class="relative">
                                {{ form_label(registrationForm.confirmPassword, 'Repetir contraseña', {
                                    'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                                }) }}
                                <div class="relative">
                                    {{ form_widget(registrationForm.confirmPassword, {
                                        'attr': {
                                            'id': 'confirm-password-field',
                                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400 focus:border-orange-400 block w-full p-2.5 pr-10 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-orange-400 dark:focus:border-orange-400',
                                            'placeholder': 'Confirmar contraseña'
                                        }
                                    }) }}
                                    <button type="button" data-target="registration_form_confirmPassword" class="toggle-password absolute inset-y-0 right-0 flex items-center px-3 text-gray-500 dark:text-gray-300">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 eye-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                        </svg>
                                    </button>
                                </div>
                                {{ form_errors(registrationForm.confirmPassword) }}
                            </div>
                            <!-- Roles -->
                            <div>
                                {{ form_label(registrationForm.roles, 'Roles', {
                                    'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                                }) }}

                                <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-4">
                                    {% for child in registrationForm.roles %}
                                        <div class="flex items-center mb-2">
                                            {{ form_widget(child, {
                                                'attr': {
                                                    'class': 'w-4 h-4 text-orange-400 checked:bg-orange-400 bg-gray-100 border-gray-300 rounded-sm focus:ring-orange-400 dark:focus:ring-orange-500 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'
                                                }
                                            }) }}
                                            <label for="{{ child.vars.id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                                {{ child.vars.label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                                {{ form_errors(registrationForm.roles) }}
                            </div>
                        <div class="grid grid-cols-1">
                            <!-- Equipos de trabajo -->
                            <div>
                                {{ form_label(registrationForm.workTeams, 'Grupos de trabajo', {
                                    'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}
                                }) }}
                                <div class="relative">
                                    {{ form_widget(registrationForm.workTeams, {
                                        'attr': {
                                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400 focus:border-orange-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-400 dark:focus:border-orange-400'
                                        }
                                    }) }}
                                </div>
                                {{ form_errors(registrationForm.workTeams) }}
                            </div>
                        </div>
                        </div>
                        <!-- Última fila: Términos -->
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-6">
                            <!-- Términos y Condiciones -->
                            <div class="flex items-start">
                                {{ form_widget(registrationForm.agreeTerms, {
                                    'attr': {
                                        'class': 'mt-1 w-4 h-4 text-orange-700 bg-gray-100 border-gray-300 rounded-sm focus:ring-orange-500 dark:focus:ring-orange-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'
                                    }
                                }) }}
                                <div class="ml-3 text-sm">
                                    <label for="{{ registrationForm.agreeTerms.vars.id }}" class="font-light text-gray-500 dark:text-gray-300">
                                        Acepto los
                                        <a href="{{ asset('pdf/terminos-condiciones.pdf') }}" target="_blank" class="font-medium text-orange-400 hover:underline dark:text-orange-400">
                                            Términos y Condiciones
                                        </a>.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Botón -->
                        <div class="flex justify-center mt-6">
                            <button type="bubmit" class="flex items-center justify-center text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-orange-700 dark:hover:bg-orange-800 focus:outline-none dark:focus:ring-primary-800">
                                 Registrar usuario
                            </button>
                        </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>          
        </div>
    </section>
    <!-- Fin de formulario de registro de usuario -->
    <script>
    document.getElementById('{{ registrationForm.imageProfile.vars.id }}').addEventListener('change', function (e) {
        const preview = document.getElementById('image-preview');
        const file = e.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (event) {
                preview.src = event.target.result;
                preview.classList.remove('hidden');
            };
            reader.readAsDataURL(file);
        }
    });

    document.addEventListener('DOMContentLoaded', () => {
    // Obtener todos los botones con la clase .toggle-password
    document.querySelectorAll('.toggle-password').forEach(button => {
        button.addEventListener('click', () => {
        // Obtener el ID objetivo del atributo data-target
        const targetId = button.getAttribute('data-target');
        const input = document.getElementById(targetId);
        
        // Verificar que el input existe antes de intentar cambiar el tipo
        if (input) {
            // Cambiar el tipo del input entre 'password' y 'text'
            input.type = input.type === 'password' ? 'text' : 'password';
        }
        });
    });
    });

</script>

{% endblock %}